.bubble-container {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    &.other-message {
        justify-content: flex-start;

        .bubble {
            background-color: var(--bubbleGrey);
            animation-name: slide-in-left;

            &:before {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 7px solid transparent;
                border-right: 7px solid var(--bubbleGrey);
                border-top: 7px solid var(--bubbleGrey);
                border-bottom: 7px solid transparent;
                left: -14px;
                top: 6px;
            }
        }
    }

    &.my-message {
        justify-content: flex-end;

        .bubble {
            background-color: var(--bubbleGreen);
            animation-name: slide-in-right;

            &:before {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 7px solid var(--bubbleGreen);
                border-right: 7px solid transparent;
                border-top: 7px solid var(--bubbleGreen);
                border-bottom: 7px solid transparent;
                right: -14px;
                top: 6px;
            }
        }
    }

    .bubble {
        padding: 8px;
        border-radius: 5px;
        position: relative;
        animation: 0.3s normal forwards ease-in-out;

        .username {
            font-size: 12px;
            font-weight: 700;
            color: var(--secondaryColor);
        }

        .text {
            &.think {
                color: #686868;
                font-style: italic;
            }

            &.highlight {
                font-size: 110%;
                background-color: rgba(0, 0, 0, 0.1);
                padding: 0 5px;
            }
        }
    }
}

@keyframes slide-in-left {
    0% {
        left: -50px;
    }
    100% {
        left: 0;
    }
}

@keyframes slide-in-right {
    0% {
        right: -50px;
    }
    100% {
        right: 0;
    }
}
